%display__flex_column {
  display: flex;
  align-items: start;
  flex-direction: column;
}
%display__flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

%transparent__button {
  width: 100px;
  height: 40px;
  font-family: var(--font-primary);
  background: transparent;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: calc(var(--spacer) * 2) calc(var(--spacer) * 1.8);
  color: var(--clr-darker--green);
  border: 2px solid var(--clr-darker--green);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: 0.2s ease-out 0.2s;
  -moz-transition: 0.2s ease-out 0.2s;
  -o-transition: 0.2s ease-out 0.2s;
  transition: 0.2s ease-out 0.2s;
  &:hover {
    filter: brightness(0) saturate(100%) invert(69%) sepia(4%) saturate(3836%)
      hue-rotate(94deg) brightness(93%) contrast(79%);
    -webkit-transition: 0.2s ease-out 0.2s;
    -moz-transition: 0.2s ease-out 0.2s;
    -o-transition: 0.2s ease-out 0.2s;
    transition: 0.2s ease-out 0.2s;
  }
}

%component {
  background-color: var(--clr-white);
  padding: calc(var(--spacer) * 4);
  border-radius: 2rem;
}
