@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Outfit:wght@400;700&display=swap');
@import 'mixins';
/* Color styles */
:root {
  --text: rgba(31, 63, 73, 1);
  --text--darker: rgba(35, 40, 45, 1);
  --primary: rgba(106, 177, 135, 1);
  --secondary: rgba(211, 45, 65, 1);
  --darker--green: rgba(31, 63, 73, 1);
  --gray: rgba(206, 210, 204, 1);
  --light--green: rgba(179, 193, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --light--blue: rgba(76, 181, 245, 1);
  --light--gray: #f6f9ff;
  --main--bg: #dfe9fe;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: 'Outfit', 'Oswald', sans-serif;
  background-color: var(--main--bg);
  color: var(--text);
  line-height: 1.6;
  font-size: 1.6rem;
}
img,
picture {
  max-width: 100%;
  display: block;
}
::selection {
  background-color: var(--primary);
  color: var(--white);
}
a {
  text-decoration: underline;
  color: var(--text);
}
a:hover {
  text-decoration: underline;
  color: var(--primary);
}
ul {
  list-style: none;
}
input {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(221, 221, 221, 0.25);
  border-radius: 30px;
  border: none;
}
a.active {
  width: 15em;
  color: var(--text);
  background: var(--light--gray);
  border-radius: 10px;
  @include respond(tab-port) {
    width: auto;
    background: transparent;
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 82.5em;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 19.5em 1fr;

  grid-template-areas: 'sidebar content';
  @include respond(tab-port) {
    grid-template-columns: auto 1fr;
  }
  @include respond(mobile) {
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
      'sidebar'
      ' content';
  }
}

.main {
  width: 100%;
  height: 56.25em;
  padding: 4.4rem 2.4rem;
  // display: grid;
  grid-area: content;
  background: #f7f9ff;
  border-radius: 0px 50px 50px 0px;
  @include respond(mobile) {
    border-radius: 50px;
  }
}
.grid__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, minmax(min-content, 5.5em));
  // grid-template-columns: repeat(auto-fit, minmax(9rem, 5.5em));
  grid-template-rows: 10vh 7vh 20vw repeat(2, min-content);
  column-gap: 2.4rem;
}
