@import 'mixins';
@import 'helpers';

.payment__transactions {
  grid-column: 5 / 8;
  background-color: aqua;
  @include respond(port-land) {
    grid-column: 8 / -1;
  }
}
.user__card {
  @extend %component;
  width: 200px;
  height: 135px;
}

.card__top,
.card__bottom {
  @extend %display__flex;
}
