@import 'mixins';
@import 'helpers';

.recenttasks {
  @extend %grid__container;
  order: 5;
  @include respond(mobile) {
    grid-column: 1/ -1;
  }
  background-color: rgb(95, 226, 43);
}
.user__card {
  @extend %component;
  // width: 200px;
  // height: 135px;
}

.card__top,
.card__bottom {
  @extend %display__flex;
}
