@import 'mixins';
@import 'helpers';

.reports {
  grid-column: 1 / 8;
  display: grid;
  background-color: blueviolet;
}
.user__card {
  @extend %component;
  width: 200px;
  height: 135px;
}

.card__top,
.card__bottom {
  @extend %display__flex;
}
