@import 'mixins';
@import 'helpers';

.user__cards {
  order: 1;
  grid-column: 1/ 5;
  @include respond(mobile) {
    grid-column: 1/ -1;
  }
}
.user__cards_list {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  // gap: 2.4rem;
}
// .user__cards {
//   grid-column: 1 / 5;
//     display: grid;
//     justify-content: space-between;
//     align-content: center;
//     gap: 2.4rem;
//     width: 100%;
//     --cols: 2;
//     --break-at: 30rem;
//     display: grid;
//     grid: dense auto-flow auto / repeat(auto-fit, minmax(var(--clamp), 1fr));
//     gap: 24px;;
// }

.user__card {
  @extend %component;
  width: 100%;
  height: 135px;
}
.card__top,
.card__bottom {
  @extend %display__flex;
}
